script.
  window.addEventListener("load", () => document.getElementById("demo").innerText = "Время загрузки страницы: " + loadTime + "c" + " (client) + " + loadTimeServer + "c" + " (server)")
p#demo &Vcy;&rcy;&iecy;&mcy;&yacy; &zcy;&acy;&gcy;&rcy;&ucy;&zcy;&kcy;&icy; &scy;&tcy;&rcy;&acy;&ncy;&icy;&tscy;&ycy;:
script(src='../JS/forn.js')
