#header.headcontainer
    div
        a#lab1(href='/') Главная
    div
        a.arcanastyle(href='Arcanas') Arcana
    div
        a.immortalstyle(href='Immortals') Immortal
    div
        a.legendarysryle(href='Legendaries') Legendary
    div
        a.setsstyle(href='Sets') Sets
    div
        a.otherstyle(href='#') Другое
        ul
            li
                a.otherstyle(href='#') Варды
            li
                a.otherstyle(href='#') Курьеры
            li
                a.otherstyle(href='#') Загрузочные экраны
            li
                a.otherstyle(href='#') Курсоры
    div
        a(href='signin') Вход
script(src='JS/auth.js')