doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        title Title
        link(href='../mystyles.css' rel='stylesheet')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
        include ../public/Components/Script
    body
        header
            if user === ''
                include ../public/Components/Header
            else
                include ../public/Components/Header_authorised
            br
            br
            br
            br
            section.info_text
                p Оплата:
                ul
                    li
                        p После того как вы купили предмет с вашего счета на сайте снимаются деньги и вы ждете, когда продавец подтвердит покупку
                    li
                        p после того как продавец подтведил покупку у вас будет 10 минут чтобы принять обмен, в ином случае покупка не будет выполнена и средства не вернутся
                    li
                        p После того как вы получили предмет не забудьте подтвердить на сайте, что предмет получен, так как это поможет лучше контролировать продавцов
                    li
                        p Если же продавец не подтвердил покупку в течении 30 минут, средства возвращаются на ваш аккаунт и покупка отменяется
                p     Мошенниичество:
                ul
                    li
                        p При поккупке вам дается код, который будет писать пробавец в предложении об обмене, ни в коем случае не принимайте обмен, если код не совпадает
                    li Сайт не несет ответсвенности за кражу вещей, все на вашем контроле
            include ../public/Components/footer