<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../mystyles.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="JS/loadtime.js"></script>
    <script src="JS/currentpage.js"></script>
  </head>
  <body>
    <header>
      <div class="headcontainer" id="header">
        <div><a id="lab1" href="/">Главная</a></div>
        <div><a class="arcanastyle" href="Arcanas">Arcana</a></div>
        <div><a class="immortalstyle" href="Immortals">Immortal</a></div>
        <div><a class="legendarysryle" href="Legendaries">Legendary</a></div>
        <div><a class="setsstyle" href="Sets">Sets</a></div>
        <div><a class="otherstyle" href="#">Другое</a>
          <ul>
            <li><a class="otherstyle" href="#">Варды</a></li>
            <li><a class="otherstyle" href="#">Курьеры</a></li>
            <li><a class="otherstyle" href="#">Загрузочные экраны</a></li>
            <li><a class="otherstyle" href="#">Курсоры</a></li>
          </ul>
        </div>
        <div><a href="signin">Вход</a></div>
      </div><br><br><br><br>
      <section class="info_text">
        <p>Оплата:</p>
        <ul>
          <li>
            <p>После того как вы купили предмет с вашего счета на сайте снимаются деньги и вы ждете, когда продавец подтвердит покупку</p>
          </li>
          <li>
            <p>после того как продавец подтведил покупку у вас будет 10 минут чтобы принять обмен, в ином случае покупка не будет выполнена и средства не вернутся</p>
          </li>
          <li>
            <p>После того как вы получили предмет не забудьте подтвердить на сайте, что предмет получен, так как это поможет лучше контролировать продавцов</p>
          </li>
          <li>
            <p>Если же продавец не подтвердил покупку в течении 30 минут, средства возвращаются на ваш аккаунт и покупка отменяется</p>
          </li>
        </ul>
        <p>    Мошенниичество:</p>
        <ul>
          <li>
            <p>При поккупке вам дается код, который будет писать пробавец в предложении об обмене, ни в коем случае не принимайте обмен, если код не совпадает</p>
          </li>
          <li>Сайт не несет ответсвенности за кражу вещей, все на вашем контроле</li>
        </ul>
      </section>
      <script>window.addEventListener("load", () => document.getElementById("demo").innerText = "Время загрузки страницы: " + loadTime + "c" + " (client) + " + loadTimeServer + "c" + " (server)")</script>
      <p id="demo">&Vcy;&rcy;&iecy;&mcy;&yacy; &zcy;&acy;&gcy;&rcy;&ucy;&zcy;&kcy;&icy; &scy;&tcy;&rcy;&acy;&ncy;&icy;&tscy;&ycy;:</p>
      <script src="../JS/forn.js"></script>
    </header>
  </body>
</html>