doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        title Immortal
        link(href='../mystyles.css' rel='stylesheet')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
        include ../public/Components/Script
    body
        header
            if user === ''
                include ../public/Components/Header
            else
                include ../public/Components/Header_authorised
            br
            br
        main
            .container
                div
                    p.popularstyle Glaive of Oscilla
                    img(src='../Images/Cosmetic_icon_Glaive_of_Oscilla.png')
                    p.cost 55p
                div
                    p.popularstyle Profane Union
                    img(src='../Images/Cosmetic_icon_Profane_Union.png')
                    p.cost 35p
                div
                    p.popularstyle Hydrkan latch
                    img(src='../Images/hydrkan_latch_model1_large.08f073f4387981a086d0481515fd10bb47d17a6e.png')
                    p.cost 1000p
                div
                    p.popularstyle Slark head immortal
                    img(src='../Images/slark_head_immortal_large.751b2cd791c383e6b3b32546bb32371719398160.png')
                    p.cost 900p
                div
                    p.popularstyle Dam'arakan Muzzle
                    img(src="../Images/Cosmetic_icon_Dam'arakan_Muzzle.png")
                    p.cost 100p
                div
                    p.popularstyle Tempest Helm of the Thundergod
                    img(src='../Images/INV_arm.png')
                    p.cost 500р
                div
                    p.popularstyle The Magus Cypher
                    img(src='../Images/INV_imm.png')
                    p.cost 130p
        footer
            br
            br
            include ../public/Components/footer