<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>Legendary</title>
    <link href="../mystyles.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="JS/loadtime.js"></script>
    <script src="JS/currentpage.js"></script>
  </head>
  <body>
    <script src="../JS/currentpage.js"></script>
    <header>
      <div class="headcontainer" id="header">
        <div><a id="lab1" href="/">Главная</a></div>
        <div><a class="arcanastyle" href="Arcanas">Arcana</a></div>
        <div><a class="immortalstyle" href="Immortals">Immortal</a></div>
        <div><a class="legendarysryle" href="Legendaries">Legendary</a></div>
        <div><a class="setsstyle" href="Sets">Sets</a></div>
        <div><a class="otherstyle" href="#">Другое</a>
          <ul>
            <li><a class="otherstyle" href="#">Варды</a></li>
            <li><a class="otherstyle" href="#">Курьеры</a></li>
            <li><a class="otherstyle" href="#">Загрузочные экраны</a></li>
            <li><a class="otherstyle" href="#">Курсоры</a></li>
          </ul>
        </div>
        <div><a href="signin">Вход</a></div>
      </div><br><br>
    </header>
    <main>
      <div class="container">
        <div>
          <p class="popularstyle">Battle Fury</p><img src="../Images/p1_41120151852920.png">
          <p class="cost">1500p</p>
        </div>
        <div>
          <p class="popularstyle">Mirana Cat</p><img src="../Images/leg_2.png">
          <p class="cost">5300p</p>
        </div>
        <div>
          <p class="popularstyle">Reaver</p><img src="../Images/leg_3.png">
          <p class="cost">700p</p>
        </div>
        <div>
          <p class="popularstyle">Scythe of Vysel</p><img src="../Images/leg_4.png">
          <p class="cost">900p</p>
        </div>
      </div>
    </main>
    <footer><br><br>
      <script>window.addEventListener("load", () => document.getElementById("demo").innerText = "Время загрузки страницы: " + loadTime + "c" + " (client) + " + loadTimeServer + "c" + " (server)")</script>
      <p id="demo">&Vcy;&rcy;&iecy;&mcy;&yacy; &zcy;&acy;&gcy;&rcy;&ucy;&zcy;&kcy;&icy; &scy;&tcy;&rcy;&acy;&ncy;&icy;&tscy;&ycy;:</p>
      <script src="../JS/forn.js"></script>
    </footer>
  </body>
</html>